.question{
    padding: 20px;
    width: 50%;
    height: auto;
    border: 2px solid #ff0400;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f2956a;
}
.quizbox{
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.option{
    margin-bottom: 10px;
    width: 50%;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
.option-container{
    display: flex;
    justify-content: center;
}
.correct-answer{
    cursor: pointer;
    top: 20px;
    right: 20px;
    border: 0px;
    background-color: #f2956a;
    width: 70px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 576px) {
    .question{
        width: 80%;
    }
}